* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.025em;
}
/* Ligatures for inter font  */
html, input {
  font-feature-settings: 'cv10' 1, 'cv05' 1, 'ss03' 1;
}


span, p, a{
  font-size: 15px;
  color: #525252;
  line-height: 1.75rem;
}

a:hover{
  text-decoration: underline;
}
