
.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 32px;
}

.container > h1 {
  font-weight: 550;
  font-size: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}


.highlights {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media(width >= 1024px) {
  .container {
    margin-top: 0;
  }
}