.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div {
  position: fixed;
  bottom: 0;
  margin: 35px auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #e7f5ec;
  border: 1px solid #34d39d;
  gap: 8px;;
  font-weight: 500;
  border-radius: .5rem;
  padding: 1.3rem;
}

.animate {
	-webkit-animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fade-in-bottom 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.div > p{
  line-height: 1.5rem;
  font-size: 13px ;
}


@media (width >= 1024px) {
  .div {
    right: 50px;
  }
}


@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

